# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
 
node_modules
.DS_Store
dist
dist-ssr
coverage
*.local
 
/cypress/videos/
/cypress/screenshots/
 
# Editor directories and files
*.vscode/
.vs/
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sw?
*.user
*.userosscache
*.sln.docstates
 
*.tsbuildinfo
 TestResults/
coverage/
*.coverage
*.coveragexml
.aider*
 
bin/
obj/
Debug/
Release/
dist/
node_modules/
/packages/
riderModule.iml
/_ReSharper.Caches/
.vs/ProjectEvaluation/wstraza.metadata.v9.bin
.vs/ProjectEvaluation/wstraza.projects.v9.bin
.vs/ProjectEvaluation/wstraza.strings.v9.bin
.vs/WsTraza/FileContentIndex/0df81eff-d280-4688-a519-54f974f41177.vsidx
.vs/WsTraza/FileContentIndex/67b2926d-e196-4404-9d4c-81827da841e6.vsidx
.vs/WsTraza/v17/.futdcache.v2
.vs/WsTraza/v17/.suo
.vs/WsTraza/v17/DocumentLayout.backup.json
.vs/WsTraza/v17/DocumentLayout.json
.vs/ProjectEvaluation/WsTraza.metadata.v9.bin
.vs/ProjectEvaluation/WsTraza.projects.v9.bin
.vs/ProjectEvaluation/WsTraza.strings.v9.bin
.vs/WsTraza/FileContentIndex/0df81eff-d280-4688-a519-54f974f41177.vsidx
.vs/WsTraza/FileContentIndex/67b2926d-e196-4404-9d4c-81827da841e6.vsidx
.vs/WsTraza/v17/.futdcache.v2
.vs/WsTraza/v17/.suo
.vs/WsTraza/v17/DocumentLayout.backup.json
.vs/WsTraza/v17/DocumentLayout.json